_build
z3_problems
sail_rust_backend.install
out.rs
.idea
/src

# Added by cargo
/target

/sail_prelude/target
/sail_prelude/cargo.lock
.aider*

# Ignore all contents of sail_models except .gitkeep and README.md
/sail_models/*
!/sail_models/*.patch
!/sail_models/README.md
